.studyhead {
    width: 1000px;
    height: 500px;
}

.study {
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.studyy {
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 60px;
}

.studycontainer {
    /* background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 100, 255, 1) 0%, rgba(0, 212, 255, 1) 100%); */
    background-color: #6CB4EE;
    min-height: 400px;
}

.headcontainer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headings {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.subheadings {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 157x;
    padding-top: 4px;
    padding-bottom: 4px;
}

.verticle {
    border-left: 6px solid black;
    height: 200px;
}

.horizontal {
    flex-direction: column;
    display: flex;
}

.innerverticle {
    flex-direction: column;
    display: flex;
}

.imgg {
    height: 350px;
    width: 500px;
}

.imggg {
    height: 200px;
    width: 300px;
}

.imgdiv {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 100px;
}

.list{
    list-style-position: outside;
}



